{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.gs",
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": "*.html",
      "options": {
        "parser": "html",
        "htmlWhitespaceSensitivity": "strict",
        "printWidth": 120
      }
    }
  ]
}
